// utils
@import './utils/main';
@import './base/main';

.gallery {
  @extend %dis-flex;
  flex-wrap: wrap;
  margin-right: $double-gutter-size * -1;

  margin-bottom: $double-gutter-size * -1;
}
.gallery-item {
  @include getWidth($examples-column-number-mobile, $double-gutter-size);

  outline: 1px solid #eeeeee;

  margin-right: $double-gutter-size;
  margin-bottom: $double-gutter-size;
  @media screen and (min-width: 768px) {
    @include getWidth($examples-column-number-tablet, $double-gutter-size);
  }
  @media screen and (min-width: 1200px) {
    @include getWidth($examples-column-number-desktop, $double-gutter-size);
  }
}
.stats {
  display: flex;
  justify-content: space-around;
}
.stats-item {
  display: flex;
  align-items: center;
}
